# NEXT Public envs
NEXT_PUBLIC_CAPJS_ENDPOINT=
NEXT_PUBLIC_HOST_URL=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

# Secret envs
CAPJS_ENDPOINT=
HOST_URL=
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_KEY=