@layer components {
    .scalar-mcp-layer {
        display: none !important;
    }

    .scalar-mcp-layer + div {
        margin-bottom: 0.4rem !important;
    }

    .scalar-mcp-layer + div a {
        display: none !important;
    }

    div.section-content > div {
        margin-bottom: 0.5rem !important;
    }
}
